/* Estilos para contact  debe  tener  el  mismo  que  le  formulario  de  contacto  de  la  imagen
acuerdate  de  color  lo  stylos  correctos*/

body{
  background-color: #f0f4f8;
}

/* contenedor principal */
.contact-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


