body {
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.contact-form-container {
  display: flex;
  flex-direction: column; /* Mueve el título y el formulario */
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Asegura que el contenido se mantenga dentro del contenedor */
}

/* Título del formulario */
.contact-title {
  font-size: 2rem;
  color: #ff6347;
  margin-bottom: 20px;
}

/* Estilos del formulario */
form {
  width: 100%;
  max-width: 600px; /* Ancho máximo */
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

textarea {
  min-height: 100px; /* Ajusta la altura mínima del textarea */
  max-height: 300px; /* Ajusta la altura máxima del textarea */
  overflow-y: auto; /* Añade un scroll vertical si el contenido excede la altura */
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* Transición para el hover */
}

/* Estilos para el hover del botón */
button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}
